{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <div class="welcome">
                        welcome back, {{ user.username }}! ૮ ˶ᵔ ᵕ ᵔ˶ ა
                        </div>
                        <br>
                            <a class="button"href="{% url 'logout' %}">logout</a>
                            <a class="button"href={% url "list_projects" %}>projects</a>
                            <a class="button" href={% url "list_projects" %}>my projects</a>
                            <a class="button" href={% url "show_my_tasks" %}>my tasks</a>
                            <a class="button" href={% url "create_project" %}>create a new project</a>
                            <a class="button" href={% url "create_task" %}>create a new task</a>
                        </br>
                    {% else %}
                            <a class="button" href="{% url 'signup' %}">sign up</a>
                            <a class="button" href="{% url 'login' %}">login</a>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
