{% extends 'base.html' %}
{% load static %}

{% block title %}
    my tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>⋆｡ﾟ ☾ﾟ ｡⋆｡︎☁ﾟ｡⋆ my tasks ⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆</h1>
            <div class="grid">
            {% if show_my_tasks.all|length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="subtitle">name</th>
                            <th class="subtitle">notes</th>
                            <th class="subtitle">start date</th>
                            <th class="subtitle">due date</th>
                            <th class="subtitle">completed</th>
                        </tr>
                    </thead>
                    {% for task in show_my_tasks %}
                        <tbody>
                            <tr>
                                <td><a class="new_tasks" href={% url "edit_tasks" task.id %}>
                                    <img class="edit" src={% static "edit.png" %} alt=""/>
                                </a></td>
                                <td class="name">{{ task.name }}</td>
                                <td>{{ task.notes }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
