{% extends 'base.html' %}

{% block title %}
  {{ show_project.name }}
{% endblock title%}

{% block content %}
<main>
    <div>
        <h1>{{ show_project.name }}</h1>
        <p>{{ show_project.description }}</p>
        <h2>Tasks</h2>
        {% if show_project.tasks.all|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            <thead>
        {% for project in show_project.tasks.all %}
        <tbody>
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.assignee }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.due_date }}</td>
                <td>{{ project.is_completed|yesno }}</td>
            </tr>
        </tbody>
        {% endfor %}
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
