{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ show_project.name }}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ show_project.name }}</h1>
            <p>{{ show_project.description }}</p>
            <h2>tasks</h2>
            <p>
                <a class="tasks" href={% url "create_task" %}>create a new task</a>
            </p>
            <div class="grid">
            {% if show_project.tasks.all|length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th class="subtitle">Name</th>
                            <th class="subtitle">Assignee</th>
                            <th class="subtitle">Start date</th>
                            <th class="subtitle">Due date</th>
                            <th class="subtitle">completed</th>
                        </tr>
                        <thead>
                            {% for task in show_project.tasks.all %}
                                <tbody>
                                    <tr>
                                        <td class="name">{{ task.name }}</td>
                                        <td>{{ task.assignee }}</td>
                                        <td>{{ task.start_date }}</td>
                                        <td>{{ task.due_date }}</td>
                                        <td>{{ task.is_completed|yesno }}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>This project has no tasks</p>
                    {% endif %}
                    </div>
                </div>
            </main>
        {% endblock content %}
