{% extends 'base.html' %}
{% load static %}

{% block title %}
    my projects
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>⋆｡ﾟ ☾ﾟ ｡⋆｡︎☁ﾟ｡⋆ my projects ⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆</h1>
            <div class="grid">
            {% if list_projects|length > 0 %}
            <div>
                <table class="table">
                    <tr>
                        <th class="subtitle">name</th>
                        <th class="subtitle">number of tasks</th>
                    </tr>
                    {% for project in list_projects %}
                        <tr>
                            <td>
                                <a class="projects" href={% url "show_project" project.id %}>{{ project.name }}</a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
