{% extends 'base.html' %} {% block title %} My Projects {% endblock title%}
{%block content%}
<main>
  <div>
    <h1>My Projects</h1>
    <table>
      {% for project in list_projects %}
      <tr>
        <th>Name</th>
        <th>Number of tasks</th>
      </tr>
      <tr>
        <td>{{project.name}}</td>
        <td></td>
      </tr>
      {% endfor %}
    </table>
    {% if not list_project %}
    <p>"You are not assigned to any projects"</p>
    {% else %} {% endif %}
  </div>
</main>
{% endblock content%}
